{% extends 'base.html.twig' %}

{% block title %}Met Api Homepage{% endblock %}

{% block body %}
    <section class="homebg">
        <div class="ringring"></div>
        <div class="circle"></div>
        <h1 class="text-right">Welcome to the<br>Virtual Met Museum</h1>
        <h2 class="text-right">Let's discover
    {% for key, value in departments %}
        <a href="{{ path('show', {'string': value.displayName | slugify, 'id' : value.departmentId }) }}">{{ value.displayName}}</a></h2
    {% endfor %}
        <div class="ringring2"></div>
        <div class="circle2"></div>
        <div class="ringring3"></div>
        <div class="circle3"></div>
    </section>
{% endblock %}
